.job-management {
  display: flex;
  flex-grow: 1;
  font-size: var(--text-h1);
}

.job-management__item {
  flex: 0.7 1;
}

.job-management__footer {
  flex: 0.3 1;
}

.job-heading {
  margin-bottom: 0.5em;
  font-weight: 700;
  font-size: 2em;
}

.item-container {
  box-shadow: 0 3px 5px grey;
  border-radius: 20px;
  margin-bottom: 26px;
  padding: 10px 30px;
  font-size: var(--text-h3);
}

.list__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3em;
  font-weight: 500;
}

.item__name {
  font-size: var(--text-h1);
  padding: 10px 0;
  min-width: 130px;
  margin: 0;
  font-weight: 500;
}

.item__field {
  padding: 5px 0 5px;
  margin: 0;
  font-size: var(--text-p);
  display: flex;
  min-width: 130px;
}

.item__field--name {
  color: #7b7b7b;
  min-width: 70px;
}

.item__field--content {
  color: #000000;
  /* flex-grow: 1; */
  position: relative;
}

.item__button {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0 5px;
  margin: 0;
}

@media screen and (max-width: 777px) {
  .job-management__item {
    flex: 10 1;
  }

  .job-management__footer {
    flex: 0.2 1;
  }
}
