.ProfileButton {
  display: flex;
  background-color: var(--background-color);
  border-radius: 20px;
  margin: 10px auto;
  padding: 0.5rem;
  align-items: center;
}
.--active {
  background-color: var(--logo-color);
}
.ProfileButton > .MuiSvgIcon-root {
  padding: 0.5rem;
  font-size: 4rem;

  color: black;
}
.ProfileButton h1 {
  font-size: medium;
  margin: 00.5rem;
  min-width: 2rem;
}
.ProfileButton h2 {
  font-size: small;
  margin: 0.5rem;
  color: darkcyan;
  min-width: 2rem;
}
.ProfileButton:hover {
  cursor: pointer;
  background-color: var(--logo-color);
}

.logout-button {
  font-size: small;
  margin: 0.5rem;
  min-width: 2rem;
  color: black;
  background-color: white;
  border-radius: 5px;
}
.logout-button:hover {
  color: #000000 !important;
  opacity: 0.8;
  /* background-color: gray; */
  /* box-shadow: 1px 1px 1px black; */
  font-weight: 700;
}

@media screen and (max-width: 777px) {
  .ProfileButton h1,
  .ProfileButton h2 {
    display: none;
  }
  .ProfileButton {
    max-width: fit-content;
  }
  .ProfileButton > .MuiSvgIcon-root {
    font-size: 3rem;
    margin: auto;
  }
}
