.ProfileButton {
  display: flex;
  background-color: var(--background-color);
  border-radius: 20px;
  margin: 10px auto;
  padding: 0.5rem;
  width: 80%;
  align-items: center;
}
.--active {
  background-color: var(--logo-color);
}
.ProfileButton > .MuiSvgIcon-root {
  padding: 0.5rem;
  font-size: 4rem;

  color: black;
}
.ProfileButton h1 {
  font-size: medium;
  margin: 00.5rem;
  min-width: 2rem;
}
.ProfileButton h2 {
  font-size: small;
  margin: 0.5rem;
  color: darkcyan;
  min-width: 2rem;
}
.ProfileButton:hover {
  cursor: pointer;
  background-color: var(--logo-color);
}

@media screen and (max-width: 777px) {
  .ProfileButton h1,
  .ProfileButton h2 {
    display: none;
  }
  .ProfileButton > .MuiSvgIcon-root {
    margin: auto;
  }
}
