.whole-page-container {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
}
@media screen and (max-width: 777px) {
  .whole-page-container {
    flex: 1;
  }
}
.central-column {
  flex: 0.7;
  padding-left: 10px;
  padding-right: 10px;
  overflow-y: scroll;
}

.central-column::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar on IE, Edge, Firefox */
.central-column {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.CustomInfo {
  background-color: white;
  box-shadow: 0px 3px 5px gray;
  border-radius: 20px;
  /* flex: 0.7; */
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.firstRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.firstRow > .MuiSvgIcon-root {
  padding: 00.5rem;
  font-size: 7rem;
}
.firstRow div {
  display: flex;
}
.About {
  background-color: var(--secondary-color);
  border-radius: 20px;
  margin: auto;
  padding: 00.5rem;
}

.InfoTag {
  background-color: white;
  padding: 10px;
  margin: 20px 0px;
  font-size: var(--text-p);
  border-radius: 20px;
  min-height: 200px;
  box-shadow: 0px 3px 5px gray;
}

.InfoTag .Header .Content {
  font-size: larger;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  width: 90%;
  border-bottom: 2px solid black;
}

.InfoTag .EditIcon {
  float: right;
  font-weight: 700;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: 50%;
  display: flex;
  align-items: center;
}

.InfoTag .EditIcon:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  border-radius: 100%;
}
.Info {
  margin: 1rem 0rem;
  display: flex;
  justify-content: space-between;
}

.Info .InfoContent {
  font-weight: 700;
  display: inline-block;
  width: 85%;
  border-bottom: 2px solid darkgray;
  text-transform: capitalize;
}
.Info .Waiting {
  background-color: var(--yellow-button);
}
.Info .Done {
  background-color: var(--secondary-color);
}
.Info .Interest {
  background-color: var(--secondary-color);
}
.Info .Cancelled {
  background-color: var(--red-button);
}
.Info .Ongoing {
  background-color: var(--yellow-button);
}

.Info .Delete {
  background-color: var(--red-button);
}
.Info .InfoStatusContent {
  margin: auto;
  text-align: center;
  text-transform: capitalize;
  /* font-size: larger; */
  /* margin-left: 5px; */
}
.button--access {
  background-color: var(--primary-color);
}

.button--cancel {
  color: #4db066 !important;
  box-shadow: 0 1px 2px #4b4a4a;
  font-weight: 600;
  font-size: 16px;
}
.Info .InfoStatus {
  margin: auto;
  width: 6rem;
  justify-content: center;
  padding: 0 00.5rem;
  border-radius: 10px;
  text-transform: uppercase;
}

.Popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.PopupInner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: white;
  height: 640px;
  border-radius: 20px;
}

.PopupInner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

@media screen and (max-width: 777px) {
  .central-column {
    flex: 1;
  }
}
.text-link {
  color: inherit;
  text-decoration: inherit;
}
.text-link:hover {
  font-size: larger;
  color: inherit;
}
