.job-search {
  margin: 0 0 50px;
}

.job-search__input {
  display: flex;
  background-color: var(--secondary-color);
  align-items: center;
  border-radius: 50px;
  padding: 7px 15px;
  margin: 0 0 20px;
  overflow-wrap: normal;
}

.job-search__input input {
  flex: 1;
  background-color: transparent;
  border: none;
  font-size: var(--text-p);
  margin-left: 15px;
}

.job-search__input input:focus {
  outline: none;
}

.job-filter {
  display: flex;
  justify-content: space-around;
}

.job-filter span {
  display: flex;
  flex-direction: column;
}

.job-card {
  padding: 10px 30px;
  border-radius: 20px;
  margin-bottom: 35px;
  box-shadow: 0px 3px 5px gray;
  font-size: var(--text-p);
}

.job-card:hover {
  background-color: var(--selected-color);
  transition: 0.3s;
}

.job-title {
  display: flex;
  align-items: center;
  font-size: var(--text-h3);
  font-weight: 700;
  margin: 7px 0;
}

.job-card .job-title .job-bookmark {
  margin-left: auto;
  margin-right: 0;
}

.job-card .job-mini-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0;
}

.job-card .job-mini-detail span {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.job-mini-detail-icon {
  margin-right: 5px;
}

@media screen and (max-width: 777px) {
  .job-title h2 {
    font-size: var(--text-h1);
    display: inline;
  }

  .feed {
    flex: 1;
  }

  .feed-header {
    font-size: var(--text-h2);
    margin-bottom: 20px;
  }

  .job-card .job-mini-detail span {
    flex-basis: 100%;
    margin-top: 5px;
  }
}
