.noti-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.noti-item {
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 35px;
    box-shadow: 0px 3px 5px gray;
    min-height: 70px;
    font-size: var(--text-h2);
    cursor: pointer;
}

/* .noti-item:hover {
    background-color: var(--selected-color);
    transition: 0.3s;
} */

.noti-item-read {
    background-color: var(--selected-color);
    transition: 0.3s;
}

@media screen and (max-width: 450px) {
    
    .noti-item {
        font-size: var(--text-p);
    }
}




