.noti {
    display: flex;
}

.noti-list {
    flex: 0.7
}

.noti-item {
    padding: 10px 30px;
    border-radius: 20px;
    margin-bottom: 35px;
    box-shadow: 0px 3px 5px gray;
    min-height: 50px;
    font-size: var(--text-h3);
}

.noti-item:hover {
    background-color: var(--selected-color);
    transition: 0.3s;
}




