.noti {
    display: flex;
    height: 100vh;
    overflow-y: hidden;
}

/* Hide scrollbar on Chrome, Safari, Opera */
.noti-list::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar on IE, Edge, Firefox */
.noti-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.noti-list {
    flex: 0.7;
    overflow-y: scroll;
    padding: 0 5px;
}

.noti-header {
    position: sticky;
    background-color: white;
    top: 0;
    margin-top: 20px;
    padding: 5px 10px ;
}

.noti-header h1 {
    font-weight: 700;
}

.noti-item {
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 35px;
    box-shadow: 0px 3px 5px gray;
    min-height: 70px;
    font-size: var(--text-h2);
}

.noti-item:hover {
    background-color: var(--selected-color);
    transition: 0.3s;
}

@media screen and (max-width: 450px) {
    
    .noti-item {
        font-size: var(--text-p);
    }
}




