.feed {
    flex: 0.7;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;
}

/* Hide scrollbar on Chrome, Safari, Opera */
.feed::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar on IE, Edge, Firefox */
.feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.feed-header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    margin: 20px 0 10px;
    font-size: var(--text-h1);
}

.detail {
    padding: 10px 30px;
    border-radius: 20px;
    margin-bottom: 35px;
    box-shadow: 0px 3px 5px gray;
    font-size: var(--text-p);
}


.summary {
    display: flex;
}

.summary_left, .summary_right {
    padding: 10px 30px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 5px gray;
}
.summary_left {
    vertical-align: middle;
    flex: 0.1;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.summary_right {
    line-height: 30px;
    flex: 0.9;
    font-size: var(--text-p);
}

@media screen and (max-width: 777px) {

    .feed {
        flex: 1;
    }

    .detail {
        flex-basis: 100%;
        margin-top: 5px;
    }

}