.detailBox {
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
}

.inShort {
    display: flex;
    width: 100%;
}
.title {
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    width: 60px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    padding: 15px 20px;
    text-align: center;
}
.index {
    display: inline-block;
    border-radius: 10px;
    width: 600px;
    line-height: 25px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    padding: 15px 20px;
}