@import '~antd/dist/antd.css';

.sign-up-form {
    max-width: 300px;
}

.login-form-forgot {
    float: right;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}

.login-form-button {
    width: 100%;
    background-color:  #45ce67;
    border-color: transparent;
}
