.stats {
    flex: 0.3;
    padding-left: 10px;
}

.company {
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 130px;
    margin-bottom: 35px;
    box-shadow: 3px 3px 5px gray;
    font-size: 14px;
}
.job {
    padding: 15px 20px;
    border-radius: 20px;
    margin-bottom: 35px;
    box-shadow: 3px 3px 5px gray;
    font-size: 14px;
}

.company:hover, .job:hover {
    background-color: var(--selected-color);
    transition: 0.3s;
}

button {
    width: 200px;
    align-items: center;
    cursor: pointer;
    background-color: var(--background-color);
    margin-bottom: 3px;
}

.section {
    font-weight: bold;
}