.stats {
    flex: 0.3;
    padding-left: 10px;
}

.company {
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 130px;
    margin-bottom: 35px;
    box-shadow: 3px 3px 5px gray;
    font-size: 14px;
}
.job {
    padding: 15px 20px;
    border-radius: 20px;
    margin-bottom: 35px;
    box-shadow: 3px 3px 5px gray;
    font-size: 14px;
}

button {
    height: 30px;
    border: 2px var(--background-color);
    width: 200px;

    cursor: pointer;
    color: black;
}
button:hover {
    color: black;
    font-weight: bold;
}

.apply {
    background-color: #64E384;
    color: white;
    font-weight: bold;
}

.divider {
    height: 1px;
    display: inline-block;
}

.section {
    font-weight: bold;
}