.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: auto;
}

.sidebarOption > .MuiSvgIcon-root {
  padding: 0.5rem;
  font-size: 3rem;
}

.sidebarOption > h2 {
  font-weight: 800;
  font-size: 20px;
  margin: 10px 10px;
  align-items: center;
}

.sidebarOption:hover {
  background-color: var(--background-color);
  border-radius: 30px;
  color: var(--primary-color);
  transition: color 100ms ease-out;
}

.sidebarOption--active {
  color: var(--primary-color) !important;
}

@media screen and (max-width: 777px) {
  .sidebarOption > h2 {
    display: none;
  }
  .sidebarOption > .MuiSvgIcon-root {
    margin: auto;
  }
}
