.stats {
    flex: 0.3;
    padding-left: 10px;
    /* padding-right: 20px; */
}


.next-job {
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 130px;
    margin-bottom: 35px;
    box-shadow: 3px 3px 5px gray;
    font-size: 14px;
}

@media screen and (max-width: 777px) {
    
    .stats {
        display: none;
    }

}