body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Global variable */
  --logo-color: #45ce67;
  --background-color: #abe8ba;

  --green-300: #abe8ba;
  --green-500: #64e384;
  --green-700: #4db066;
  --grey: #dadada;
  --blue: #7b87e3;

  --primary-color: var(--green-500);
  --secondary-color: var(--green-300);
  --selected-color: var(--grey);
  --red-button: #e3646b;
  --yellow-button: #e3c459;

  --text-h1: 20px;
  --text-h2: 16px;
  --text-p: 14px;
  --text-mini: 10px;
}

.whole-page-container {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
}

.central-collumn {
  flex: 0.7;
  padding-left: 10px;
  padding-right: 10px;
  overflow-y: scroll;
}

/* Hide scrollbar on Chrome, Safari, Opera */
.central-collumn::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar on IE, Edge, Firefox */
.central-collumn {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.central-page-header {
  padding: 25px 0px 5px;
  font-size: var(--text-h1);
}

.central-page-header > h1 {
  font-weight: 700;
}

@media screen and (max-width: 777px) {
  .central-page-header {
    font-size: var(--text-h2);
  }
  .central-collumn {
    flex: 1;
  }
}