.button {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  border-radius: 5px;
  min-width: 70px;
  text-align: center;
  margin-left: 10px;
  padding: 0 10px;
}

.button:hover {
  opacity: 0.8;
}

.button--large {
  padding: 0px 35px;
  font-size: 18px;
  font-weight: 600;
}

.button--delete {
  background-color: #e3646b;
}

.button--access {
  background-color: #4db066;
}

.button--exit {
  color: #4db066;
  box-shadow: 0 2px 1px #7b7b7b;
  font-weight: 600;
  font-size: 16px;
}
